<form
    class="flex flex-col gap-4 w-full"
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
>
    <h1 class="text-5xl mb-16 text-center">Sign Up</h1>

    <app-form-input
        label="Username"
        placeholder="Enter username"
        [control]="form.controls.username"
    />

    <app-form-input
        label="Email"
        placeholder="Enter email"
        [control]="form.controls.email"
    />

    <app-form-input
        label="Password"
        placeholder="Enter password"
        type="password"
        [control]="form.controls.password"
    />

    <button class="btn" type="submit">Sign Up</button>
    <p class="text-center mt-auto">
        Have an account already?
        <a class="link" routerLink="/auth/sign-in">Sign In</a>
    </p>
</form>