<label class="flex flex-col mb-4 text w-full">
    {{ label() }}
    <div class="relative w-full">
        <input
            [formControl]="control()"
            [type]="type() === 'password' ? (isPasswordHidden() ? 'password' : 'text') : type()"
            [placeholder]="placeholder()"
            class="input"
        />
        @if (type() === 'password') {
            <button
                type="button"
                (click)="isPasswordHidden.set(!isPasswordHidden())"
                [class.active]="!isPasswordHidden()"
                class="password-hide-btn"
            >
                <svg icon="hide" class="hide-icon"></svg>
            </button>
        }
    </div>
</label>